*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html , body{
    line-height: 1.4;
    font-weight: 300;
    color: white;
    scroll-behavior: smooth;
}

body{
    font-size: 1.4rem;
}

ul{
    list-style: none;
}

header{
    background:rgb(29, 63, 147);
}

header h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 7rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul{
    display: flex;
    gap: 3rem;
}
nav li{
    font-size: 1.8rem;
    border-bottom: 0.4rem transparent solid;
    transition: 0.3s ease-in-out;
    
}

nav li:hover{
    border-bottom: 0.4rem yellow solid;
    transition: 0.3s ease-in-out;
}



.container{
    max-width: 1300px;
    margin: 0 auto;
    
}

a{
    text-decoration: none;
    color: white;
}

#home{
    background-color: blue;
    padding: 4rem 0 ;
    border-bottom: 4px solid lightskyblue;

}

#home .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.homecontent{
    display: grid;
    place-items: center;
}

#home h1{
    font-size: 3rem;
    font-weight: bold;
   
}

.hitext{
    font-size: 6rem;
    font-weight: bold;
    color: yellow;
}

.nametext{
    font-size: 5rem;

}

#home h2{
    font-size: 4rem;
    font-weight: bold;
    overflow: hidden;
    border-right: 0.15rem solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(35 ,end) ,blink-caret 0.75s step-end infinite;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink-caret{
    from,to{
        border-color: transparent;
    }
    50%{
        border-color: orange;
    }

}

#project{
    background: rgb(29, 63, 147);
}

#project h2{
    font-size: 6rem;
    padding: 2rem 0;
    text-align: center;
}

 .projectcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(320px , 1fr));
    grid-gap: 2rem;
 }

 .griditem{
    display: grid;
    place-items: center;
 }

 .card{
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
 }

 .card:hover{
    transform: scale(1.05);
    transition: 1s ease-in-out;
 }

 .card:hover img{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
 }

 .card:hover .cardcontent{
    background: white;
    color: blue;
    transform: translateY(0px);
 }
 .cardcontent{
    padding: 2rem;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
 }

 .cardcontent h3{
    text-align: center;
 }


 #contact{
    background: darkblue;
 }

 #contact h2{
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
 }

 #contact .container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
 }

 .topcontact{
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit , minmax(80px , 1fr));
 }

 .contactway{
    display: flex;
    gap: 1rem;
    align-items: center;
 }

 .contactway i {
    font-size: 3rem;
 }

 .contactway h3{
    font-size: 3rem;
    font-weight: bold;
 }

 .bottomcontact{
    display: grid;
    max-width: 400px;
    gap: 1rem;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit , minmax(80px , 1fr));
 }

 footer{
    background-color: rgb(64, 64, 194);
    padding: 2rem;
    color: white;
    font-size: 1.6rem;
    text-align: center;
 }